In [1]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [5]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [6]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_taxi_trips,root,None,True,False,False,False
1,public,zones,root,None,True,False,False,False

```python
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False)
```

In [7]:
query = """
SELECT * FROM green_taxi_trips LIMIT 10
"""

pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,...,0.5,0.5,0.00,0.0,None,0.3,4.30,2,1,None
1,1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,...,0.5,0.5,0.00,0.0,None,0.3,7.30,2,1,None
2,2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,...,0.5,0.5,0.00,0.0,None,0.3,5.80,1,1,None
3,3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,...,0.5,0.5,2.96,0.0,None,0.3,19.71,1,1,None
4,4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,...,0.5,0.5,0.00,0.0,None,0.3,19.30,2,1,None
5,5,2,2019-01-01 00:12:35,2019-01-01 00:19:09,N,1,49,17,1,1.05,...,0.5,0.5,0.00,0.0,None,0.3,7.80,1,1,None
6,6,2,2019-01-01 00:47:55,2019-01-01 01:00:01,N,1,255,33,1,3.77,...,0.5,0.5,0.00,0.0,None,0.3,14.80,1,1,None
7,7,1,2019-01-01 00:12:47,2019-01-01 00:30:50,N,1,76,225,1,4.10,...,0.5,0.5,0.00,0.0,None,0.3,17.30,1,1,None
8,8,2,2019-01-01 00:16:23,2019-01-01 00:39:46,N,1,25,89,1,7.75,...,0.5,0.5,0.00,0.0,None,0.3,26.80,1,1,None
9,9,2,2019-01-01 00:58:02,2019-01-01 01:19:02,N,1,85,39,1,3.68,...,0.5,0.5,0.00,0.0,None,0.3,16.80,1,1,None

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/

# END